body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.px1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.mt2 {
  margin-top: 2rem;
}

.todo {
  margin-bottom: 1rem;
}

.todo.completed span {
  text-decoration: line-through;
}

.todo label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 1rem;
  background: #f3f3f3;
}

.todo {
  z-index: 2;
}

.mt15 {
  margin-top: 15px;
}

.cv {
  max-width: 900px;
  margin: 0 auto;
}

.contacts {
  margin-bottom: 2em;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__type {
  min-width: 90px;
}

.experience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2em;
}

.experience__date {
  min-width: 185px;
  margin-bottom: 1em;
}

.experience__name {
  font-weight: bold;
}

.slider {
  height: 0;
}

.title,
.phone {
  vertical-align: baseline;
}

.divContainer {
  position: relative;
}

.modalContact {
  position: absolute;
  top: 200px;
  left: 400px;
  padding: 20px;
  -webkit-box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
  -moz-box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
  box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
}

.exit {
  color: red;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.close {
  margin-left: 5px;
  color: rgb(98, 177, 255);
  cursor: pointer;
}
